*{
	font-family:Verdana,Comic Sans MS;
	
}
body{

	margin:1%;
	background:#1F363D; 
}
header{
	background:url('https://thumbs.gfycat.com/BountifulCookedAnglerfish-max-1mb.gif');
	height:100%;
	background-size:cover;
	border-radius:10px;	
}
	
::-webkit-scrollbar{
	background:#1a1319;
	
}
::-webkit-scrollbar-button{
	display:none;
}
::-webkit-scrollbar-thumb{
	background:#61892F;
	border-radius:8px;
}
::-webkit-scrollbar-corner{
	border-radius:4px;
}
.menu{
	transform:scale(1.1);
	z-index:100;
	
	
}

#topright{
	display:inline-block;
	box-shadow: 0 8px 6px -6px #509fab;
	font-size:30px;
	width:auto;
	text-decoration:none;
	color:#ccc;
	padding:5px;
	background:black;
	border-radius:3px;
	
}
#topright:hover{
	border:1px solid #ccc;
	border-radius:4px;
}
#topright:hover span{
	background:white;
	color:black;
}

.scroll::-webkit-scrollbar {
    width: 12px !important;visibility:hidden;
	
}

.scroll::-webkit-scrollbar-track {
  display:none !important;
  
}
.scroll::-webkit-scrollbar-thumb{
	visibility:hidden;
}

.menu{
	display:block;
	background:black;
	float:right;
	position:fixed;
	background:rgba(0,0,0,0.9);
	height:100vh;
	width:200px;
	top:6%;
	right:-240px;
	text-transform:uppercase;
	font-weight:bold;
}
.menu:hover{
	right:0px;
	
}

.menu ul{
	position:relative;
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.menu ul{
	position:absolute;
	overflow:scroll;
	height:100%;
	
}
.menu ul li{
	width:180px;
	text-decoration:none;
	border-bottom:1px solid white;
	padding:20px 15px 4px 1px;
	list-style-type:none;
	overflow:hidden;
}




.menu ul ul li:nth-child(11){
	margin-bottom:50%;
}



.menu ul ul::-webkit-scrollbar{
	visibility:hidden;
	
}
.menu ul ul::-webkit-scrollbar-thumb{
	visibility:hidden;
	
}
.menu ul li a{
	color:white;
	text-decoration:none;
}
.menu ul li:hover a{
	color:black;
}
.menu ul li:hover{
	background:white;
}

.menu ul li:nth-child(3) ul li{
	padding:10%;
	text-align:left;
}
.menu ul li:nth-child(3):hover ul li a{
	color:white;
}

.menu ul li:nth-child(3):hover ul li:hover a{
	color:black;
}
.menu ul li:nth-child(3):hover ul li:hover a{
	background:white;
}
.menu #topright{
	position:absolute;
	right:250px;
	top:0;
	
	
}
.menu #topright span{
	display:block;
	height:2px;
	width:20px;
	margin:1px;
	border:2px solid white;
	border-radius:5px;
	background:white;
}	

h1{
	color: #9EC1A3;
	font-size:4em;
	margin:2% 2% 1% 2%;
	padding:0;
	letter-spacing:0.2rem;
	display:inline-block;
	line-height:1em;
}
h2{
	color:#E5D1D0;
	font-size:250%;
	margin:2% 5% 5% 1%;
}

.cate{
	background:url('https://cdn.dribbble.com/users/370759/screenshots/1796042/untitled-1.gif');
	border-radius:10px;
	height:100%;
}

.cate .bakground {
	height:350px;
	width:90%;
	display:block;
	margin:5%;
	border-radius:6px;
	
	
 }
.cate .cat1{
	height:90%;
	width:30%;
	display:block;
	border:1px solid rgba(0,0,0,0.8);
	margin:2%;
	margin-top:8%;
	border-radius:6px;
	background-size:cover;
}
.cate .bakground .trans{
	height:inherit;
	width:inherit;
	background:rgba(204, 204, 204,0.5);
	position:absolute;
	border-radius:6px;
}
 
.trans #p1{
	font-size:100%;
	font-style:bold;
	margin:2%;
	font-weight:bold;
	box-shadow: 0px 20px 6px -8px rgba(0,0,0,0.5);
	
}
#p2{
	text-align:center;
	margin:2%;
	margin-top:5%;
	background:rgba(0,0,0,0.5);
	color:white;
	padding:2%;
	border-radius:2%;
	text-transform:uppercase;
	font-size:1rem;
}



.scroll::-webkit-scrollbar {
    width: 12px !important;visibility:hidden;
}

.scroll::-webkit-scrollbar-track {
  display:none !important;
}

#randomize{
  position:relative;
  margin-left:70%;
  display:inline-block;
  color:white;
  text-transform:uppercase;
  transition:0.3s;
  text-decoration:none;
  letter-spacing:3px;
  overflow:hidden;
  padding:5px 10px;
  border-radius:3px;
  border-bottom:1px inset #509fab;
  box-shadow: 0 8px 6px -6px #509fab;
  margin-bottom:1%;
  font-weight:bold;
 }
#randomize:hover{
  box-shadow: 0 0 10px #509fab, 0 0 20px #509fab,0 0 40px #509fab,0 0 80px #509fab; 
transition-delay:0.25s;
  background:#509fab;
  color:black;
}
#randomize span{
  position: absolute;
  display:block;
}
#randomize span:nth-child(1) {
  width:100%;
  height:2px;
  top:0;
  left:-100%;
  background:linear-gradient(90deg,transparent,#509fab);
}
#randomize:hover span:nth-child(1){
  left:100%;
  transition:0.5s;
 }

#randomize span:nth-child(3) {
  width:100%;
  height:2px;
  bottom:0;
  right:-100%;
  background:linear-gradient(270deg,transparent,#509fab);
}
#randomize:hover span:nth-child(3){
  right:100%;
  transition:0.5s;
 }

#randomize span:nth-child(2) {
  width:2px;
  height:100%;
  right:0;
  top:-100%;
  background:linear-gradient(180deg,transparent,#509fab);
}
#randomize:hover span:nth-child(2){
  top:100%;
  transition:0.75s;
 }

#randomize span:nth-child(4) {
  height:100%;
  width:2px;
  left:0;
  bottom:-100%;
  background:linear-gradient(360deg,transparent,#509fab);
}
#randomize:hover span:nth-child(4){
  bottom:100%;
  transition:1s;
 }
 .scroll{
	 background:rgba(0,0,0,0.4);
	 color:white;
	 
 }
  
.menu ul li:nth-child(1){
margin-top:20%;

}
.menu ul ul li:nth-child(1){
margin-top:0%;
}


@media screen and (min-width: 800px){
 body{
	 margin:1%;
	 background:#1F363D;
	 
}
header{
	background:url('https://i.gifer.com/Z6W8.gif');
	height:100%;
	background-size:100%;
	border-radius:10px;	
	background-position:bottom right;
	background-color:black;
}
::-webkit-scrollbar{
	background:#1a1319;
}
::-webkit-scrollbar-button{
	display:none;
}
::-webkit-scrollbar-thumb{
	background:#61892F;
	border-radius:8px;
}
::-webkit-scrollbar-corner{
	border-radius:4px;
}


h1{
	color: #9EC1A3;
	font-size:4em;
	margin:2% 2% 2% 2%;
	padding:0;
	letter-spacing:0.2rem;
	display:inline-block;
	line-height:0.2em;
	line-height:1em;
}
h2{
	color:#E5D1D0;
	font-size:250%;
	margin:2% 5% 5% 1%;
}

.cate{
	
	border-radius:10px;
	height:100%;
}

.cate .bakground {
	height:350px;
	width:90%;
	display:block;
	margin:5%;
	border-radius:6px;
	
 }
.cate .cat1{
	height:100%;
	width:25%;
	display:block;
	border:1px solid rgba(0,0,0,0.8);
	margin:2%;
	border-radius:6px;
	background-size:cover;
}
.cate .bakground .trans{
	height:inherit;
	width:inherit;
	background:rgba(204, 204, 204,0.5);
	position:absolute;
	border-radius:6px;
}
 
.trans #p1{
	font-size:120%;
	
}

.scroll::-webkit-scrollbar {
    width: 12px !important;visibility:hidden;
}

.scroll::-webkit-scrollbar-track {
  display:none !important;
}

#randomize{
	margin-left:85%;
	
}
.menu{
	top:7%;
}

}










